[Service]
ExecStart=/usr/bin/java -cp .:bin:../lib/java/* Server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lucos_root
User=lucos
Group=lucos
WorkingDirectory=/web/lucos/lucos_root

[Install]
WantedBy=multi-user.target
