
body {
	background: repeating-linear-gradient( -45deg, rgb(255,220,200) 0, rgb(255,220,200) 18px, rgb(255,255,200) 18px, rgb(255,255,200) 36px);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 0;
}
#links {
	flex: auto;
	margin-top: 50px;
	list-style:none; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#links li {
	margin: 10px;				
}
#links img {
	border: none;
	width: 100px;
	filter: drop-shadow(15px -6px 0.5px rgba(0, 0, 0, 0.2));
}

#bookmarks {
	font-weight: bold;
	background: linear-gradient(transparent, #204 25%);
	color: #fff;
	font-size: 1.5em;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	padding: 10px 0 0 0;
}
#bookmarks ul {
	display: flex;
	list-style: none;
	margin: 0;
	flex-wrap: wrap;
}
#bookmarks a {
	border: none;
	text-decoration: none;
	color: inherit;
	padding: 0 0.5em;
	display: block;
	margin: 5px;
}
#bookmarks img {
	height: 1em;
	display: block;
}
.offline #links .networkonly {
	opacity: 0.4;
	pointer-events: none;
	cursor: default;
}
