<!DOCTYPE html> 
<html> 
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="/icon.png"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="icon" href="/icon.png" />
		<title>LucOS</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<lucos-navbar>Home</lucos-navbar>
		<services-list />
		<div id='bookmarks'>
			<ul>
				<li><a href="http://mail.lukeblaney.co.uk/" title="gMail" target="_blank" rel="nofollow"><img src="/gmail.png" alt="gMail" /></a></li>
				<li><a href="http://cal.lukeblaney.co.uk/" title="gCal" target="_blank" rel="nofollow">gCal</a></li>
				<li><a href="http://facebook.com/" title="facebook" target="_blank" rel="nofollow">Facebook</a></li>
				<li><a href="http://twitter.com/" title="Twitter" target="_blank" rel="nofollow">Twitter</a></li>
			</ul>
		</div>
		<script src="/lucos_navbar.js" type="text/javascript"></script>
		<script type="text/javascript">
			(async () => {
				if (!navigator.onLine) document.body.classList.add("offline");
				window.addEventListener('offline', () => document.body.classList.add("offline"));
				window.addEventListener('online', () => document.body.classList.remove("offline"));

				const statusChannel = new BroadcastChannel("lucos_status");
				try {
					if (!('serviceWorker' in navigator)) throw "no service worker support";
					const registration = await navigator.serviceWorker.register('/serviceworker.js');
					console.log('ServiceWorker registration successful with scope: ' + registration.scope);
					if (registration.waiting) {
						statusChannel.postMessage('service-worker-waiting');
					}
					registration.addEventListener("updatefound", () => {
						if (registration.installing) registration.installing.addEventListener("statechange", () => {
							// If there's no existing sw, then this is the first install, so nothing to do.
							if (!navigator.serviceWorker.controller) return;
							if (registration.waiting) {
								statusChannel.postMessage('service-worker-waiting');
							}
						});
					});
					registration.update();
					navigator.serviceWorker.addEventListener("controllerchange", () => {
						window.location.reload();
					});

					// The websocket opening _could_ be because the server has restarted,
					// so check whether a new service worker is available
					// (Mostly useful for dev environments)
					statusChannel.addEventListener("message", function statusMessage(event) {
						if (event.data == "streaming-opened") registration.update();
					});
				} catch (error) {
					console.error('ServiceWorker registration failed: ' + error);
				}
			})();
		</script>
	</body>
</html>
